#.gitignore for Java projects (using eclipse)


# Windows
# thumbnails
Thumbs.db

# Mac OS X
# metadata
.DS_Store
# thumbnails
._*

# GIT
.git/

# Java
*.class
# packages 
*.jar
*.war
*.ear

# Eclipse
.settings/
.buildpath
.classpath
.project
.xml
META-INF

# Logging
*.log

# jME (binaries)
*.so
/build/
